API_ID=21463488
API_HASH=bebb103f3959781047d8b2460dcdc832
BOT_TOKEN=7686497726:AAGpVpjYIH2-UBmL6N0ESZzoDD1litvbQuQ
MONGO_DB_URI=mongodb+srv://innocentmr375:zDIWw16Grr911Yi3@innocent.cwekrfz.mongodb.net/?retryWrites=true&w=majority
LOGGER_ID=-1002856817537
OWNER_ID=6014895515
STRING_SESSION=BQFHgcAAStw4X8LG2FXzpGQRHdEtRqMRBYVmQTFtEVFGiCQy39njSZTfeaZqZHIHp_9rz-Evc9h2bYqy1OgyXDPaClY8FsnC8K9E1gGrwNhFcsQFXsW-vOXQoev0Y9lpiNu_0TJOVBwMvBtb--EpleMW6dgYETDCih8InNsn7pGAMsNi6e8Otzlcq8blCjTV90WnoUaKBBzBQkAUeLK3b98jN22EvjgcsrEOTETCHb7Kndbm4B_FZknJgDnelKLIFIVrqltBzzRLe_tCdwUGBWiGgdaV_5R20Zn47q4L0kqaKz5DYe1_ZYC3V3qt7bEbn-2187lYp4UTe0EWA8lZ0cysCRXb5AAAAAHirS6QAA
